<div class="text-center">
  <h1 class="text-center">Hello, this is pizza shop application!</h1>
  <p>Here you can order our pizza or create a recepie of a new one!</p>
</div>

<div class="my-3" id="instructions">
  <p>To order pizza:</p>
  <ul>
    <li>Click 'Pizza menu' button on navigation menu.</li>
    <li>Use the scroll to move throuhg menu.</li>
    <li>To order pizza click on the 'Order pizza' button.</li>
    <li>You will be navigated to payments page were you can view a time needed for your pizza cooking.</li>
  </ul>  
  
  <p>To make your own pizza recepie:</p>
  <ul>
    <li>Click 'Make pizza' button on navigation menu.</li>
    <li>Enter pizza name.</li>
    <li>Add or remove ingridients using + or - buttons.</li>
    <li>When you finished click 'Create pizza recepie' button on the bottom of the page. New pizza will be added to the menu.</li>
    <li>*Some of the ingridients may be missing. To book more ingridients you should manage the storage page.</li>
  </ul>   
  
  <p>For managing storage:</p>
  <ul>
    <li>Click 'Storage' button on navigation menu.</li>
    <li>Navigate the mouse on needed ingridient.</li>
    <li>To book 100 more ingridient click on the 'Book more' button.</li>
  </ul>  
  
</div>

